Language: Cpp
BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: Always
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
NamespaceIndentation: All
CommentPragmas: '.\/[\*(\/\/)]+(.+\n.+)+\*\/'
IndentPPDirectives: BeforeHash
