[submodule "external/3ds-cmake"]
	path = external/3ds-cmake
	url = https://github.com/3DStris/3ds-cmake.git
	branch = 3dstris
[submodule "external/sds"]
	path = external/sds
	url = https://github.com/3DStris/sds.git
	branch = cpp
[submodule "external/mpack"]
	path = external/mpack
	url = https://github.com/3DStris/mpack.git
	branch = cmake-amalgamation
[submodule "external/pcg"]
	path = external/pcg
	url = https://github.com/3DStris/pcg-cpp.git
	branch = 3dstris
[submodule "external/sajson"]
	path = external/sajson
	url = https://github.com/chadaustin/sajson
[submodule "external/robin_hood"]
	path = external/robin_hood
	url = https://github.com/martinus/robin-hood-hashing.git
