[submodule "external/3ds-cmake"]
	path = external/3ds-cmake
	url = https://github.com/3DStris/3ds-cmake.git
	branch = 3dstris
[submodule "external/sds"]
	path = external/sds
	url = https://github.com/3DStris/sds.git
	branch = cpp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/phmap"]
	path = external/phmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "external/mpack"]
	path = external/mpack
	url = https://github.com/3DStris/mpack.git
	branch = cmake-amalgamation
[submodule "external/pcg"]
	path = external/pcg
	url = https://github.com/3DStris/pcg-cpp.git
	branch = 3dstris
